@font-face {
  font-family: 'Gilroy';
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"),
  url("../fonts/opensans.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

/* Общее */
.body {
  width: 1440px;
  background-color: #FFFFFF;
  font-family: "Gilroy","OpenSans";
  color: black;
}

body {
  display: block;
  margin: 0px;
}

.visually-hidden{
  visibility: hidden;
}

a {
  text-decoration: none;
  color: #000000;
}  /*отменим у ссылок подчеркивание */

.footer-middle__item a{
color: #FFFFFF;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

/*  Навигация */

.main-header{
  width: 1160px;
  height: 300px;
  background-color: #F7E296;
  margin-left: 140px;
  margin-top: 40px;
}
 /* Логотип меняется */
.page-header__logo{
  display: flex;
  padding-left: 59.85px;
  position: relative;
  top: -20px;
}

.page-header__link {
  display: block;
	position: relative;
}

.inner-header-logo {
	display: block;
	position: relative;
}

.inner-header-logo::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.inner-header-logo:hover {
	opacity: 0.6;
}

.inner-header-logo:active {
	opacity: 0.3;
}
 /*  */
.main-nav__input{
  flex-grow:1; /*будет занимать все свободное место */
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.main-nav__input{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding-left: 23px;
}

.main-nav__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  list-style: none;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.main-nav__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1040px;
  padding-left: 60px;
}

.main-nav__compare{
  padding-left: 180px;
}

.main-nav__input--search{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.3);
}
/* poisk */
.search-form {
  position: relative;
  display: flex;
  margin-top: -10px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 2px;
  width: 16px;
  height: 16px;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.search-form input{
  height: 49px;
  width: 356px;
  padding-left: 37px;
  margin-bottom: 2px;

  font-family:  Open Sans;
  line-height: 30px;
  font-size: 15px;
  letter-spacing: 0.15px;

  background-color: transparent;
  border: none;
  outline: none;

  cursor: pointer;
}

.search-form input::-ms-clear,
.user-form input::-ms-clear {
  /*убирает крестик из инпута в IE*/
  width : 0;
  height: 0;
}

.search-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search-form input::-webkit-input-placeholder { /* Edge */
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3);
}

.search-form input:hover::placeholder{
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover:-ms-input-placeholder {/* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:hover::-webkit-input-placeholder {/* Edge */
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:active,
.search-form input:focus {
  border-bottom: 2px solid black;
  border-radius: 0; /*для Edge*/
}

/* кнопка НАЙТИ */
.search-form-button {
  width: 85px;
  height: 49px;
  margin-top: 4px;
  font-family: "OpenSans-Light", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  letter-spacing: 0.15px;
  color: black;

  border: 2px solid black;
  background: none;
  border-radius: 0; /*для Edge*/
  outline: none;

  cursor: pointer;
}

.search-form-button:hover,
.search-form-button:focus {
  background-color: black;
  color:#ffffff;
}

.search-form-button:active {
  background-color: black;
  color: rgba(255, 255, 255, 0.3);
}

.hidden {
  display: none;
}
/* ВОЙТИ - КОРЗИНА */


.main-nav__enter--button{
  padding-left: 11px;
}

.main-nav__compare-icon{
  padding-right: 14px;
}

.main-nav__basket--icon{
  padding-right: 10px;
}

.main-nav__enter a:hover,
.main-nav__enter a:focus,
.main-nav__compare a:hover,
.main-nav__compare a:focus,
.main-nav__basket a:hover,
.main-nav__basket a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.smain-nav__enter a:active,
.main-nav__compare a:active,
.main-nav__basket a:active{
  color: rgba(0, 0, 0, 0.3);
}


.site-navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1040px;
  padding-left: 60px;
  padding-top: 15px;
  margin: 0;
  list-style: none;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.site-navigation__block{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 280px;
  padding-left: 250px;
}

.site-item{
  list-style: none;
}
.site-item:nth-of-type(1) {
  padding: 0;
}

.site-navigation__link{
  letter-spacing: 0.1em;
}

.site-navigation__img{
  padding-left: 15px;
}

.site-navigation__delivery a:hover,
.site-navigation__delivery a:focus,
.site-navigation__guarantee a:hover,
.site-navigation__guarantee a:focus,
.site-navigation__contact a:hover,
.site-navigation__contact a:focus,
.site-navigation__catalog a:hover,
.site-navigation__catalog a:focus{
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation__delivery a:active,
.site-navigation__guarantee a:active,
.site-navigation__contact a:active,
.site-navigation__catalog a:active{
  color: rgba(0, 0, 0, 0.3);
}
/* Слайж сменный */
.page-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1022px;
  padding-top: 15px;
  }

  .features-list{
    display: flex;
    flex-direction: row;
    margin-top: -225px;
    padding-left: 229px;
    width: 1100px;
  }

  .features-list__slider{
    width: 384px;
    height: 486px;
    left: 230px;
  }

  .features-list__img{
    position: absolute;
    left: 1075px;
    top: 240px;
  }

  .features-list__info{
    padding-left: 127px;
    padding-top: 95px;
  }

  .features-list__info--title{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 47px;
    line-height: 58px;
    color: #000000;
    margin: 0;
  }

  .features-list__item{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
    margin: 0;
    padding-top: 25px;
  }
/*  кнопка подробнее */
.features-list__button{
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.button.slide-button {
  width: 204px;
  padding: 8px;
  line-height: 24px;
  background-image: linear-gradient(#fff 15px,#f0c52e 15px,#f0c52e 24px,#fff 24px);
}

.button {
  font-family: "Gilroy-ExtraBold","Arial",sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
}

a {
  text-decoration: none;
}

.button.slide-button:hover,
.button.slide-button:focus {
  background-image: linear-gradient(#f0c52e,#f0c52e);
}

.button.slide-button:active {
  background-image: linear-gradient(#f0c52e,#f0c52e);
  color: rgba(0, 0, 0, 0.3);
}

/*  */
.features-list__parameters{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 452px;
  margin-top: 55px;
  padding-left: 0;
}

.parameters-description{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
  color: #000000;
  display: flex;
  align-items: center;
  }

.parameters-size{
  padding-top: 15px;
  display: flex;
  align-items: center;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}

  /*  */
.slider-navigation {
  position: absolute;
   /* bottom: 135px; */
  right: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  top: 530px;
  left: 1140px;
}

  .slider-navigation li:not(:last-of-type) {
    margin-right: 21px;
  }

  .slider-navigation .slider-navigation__button {
    width: 12px;
    height: 12px;
    padding: 0;

    background-color: transparent;
    border: 1px solid #050505;
    border-radius: 50%;

    cursor: pointer;
  }

.slider-navigation .slider-navigation__button :hover,
.slider-navigation .sslider-navigation__button :active,
.slider-navigation__current{
  -webkit-box-shadow:
    inset 0 0 0 3px #ffffff,
    inset 0 0 0 4px #050505;
          box-shadow:
    inset 0 0 0 3px #ffffff,
    inset 0 0 0 4px #050505;
}

  /*  */

  .category__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 1160px;
  padding-left: 140px;
  padding-top: 30px;
  margin: 0;
}

.category__item--background{
  background:#F7E296;;
  width: 160px;
  height: 160px;
}

.category__item--background:hover{
  background: #F0C52E;
}

.category__item--monopods:active path{
  fill-opacity: 0.3;
}

.category__text--background{
  display: block;
  padding-top: 85px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 0.05em;
}

.category__text--monopods{
  display: block;
  padding-top: 50px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 0.05em;
}

.category__text--action{
  display: block;
  padding-top: 68px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 0.05em;
}

.category__text--fitness{
  display: block;
  padding-top: 80px;
  width: 190px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.category__text--clock{
  display: block;
  padding-top: 63px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 0.05em;
}

.category__text--quadcopters{
  display: block;
  padding-top: 75px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  letter-spacing: 0.05em;
}

.category__link{
	display: block;
	position: relative;
}

.category__link::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
}

.category__link:active {
  opacity: 0.3;
}

.category__item--virtual{
  padding-left: 31px;
  padding-top: 52px;
}

.category__item--monopods{
  padding-left: 39px;
  padding-top: 25px;
}

.category__item--action{
  padding-left: 45px;
  padding-top: 35px;
}

.category__item--fitness{
  padding-left: 29px;
  padding-top: 49.69px;
}

.category__item--clock{
  padding-left: 53px;
  padding-top: 30px;
}

.category__item--quadcopters{
  padding-left: 13px;
  padding-top: 45px;
}


/* Возможности */
.services__navigation{
  width: 1440px;
  height: 288px;
  background: #E5E5E5;
  margin-top: 215px;
}

.services__block{
  display: flex;
  flex-direction: row;
}

.services-list{
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left:  140px;
  margin-top: -20px;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  list-style: none;
  letter-spacing: 0.2em;
  text-align: center;
  color: black;
}

.services__list a {
  color: #000000;
  width: 278px;
  height: 40px;
}

.services__item:nth-child(1){
  margin-top: 0px;
}

.services__item:nth-child(2){
  margin-top: 20px;
}

.services__item:nth-child(3){
  margin-top: 25px;
}

/* доставка */
.button.service-button {
  position: relative;
  width: 161px;
  padding: 8px;

  background: none;
  background-image: linear-gradient(transparent 15px,#f0c52e 15px,#f0c52e 24px,transparent 24px);
  outline: none;
}

.button.service-button:hover,
.button.service-button:focus {
  background-color: #f0c52e;
}

.service-button.active {
  color: #f7e184;
  background-image: linear-gradient(black,black);
}

.service-button.active::after {
  position: absolute;
  top: 0;
  right: -120px;
  content: "";
  width: 120px;
  height: 40px;
  background-color: black;
}

/* Полоска */

.black-with:before{
  content: '';
  background-color: #000000;
  height: 319px;
  width: 7px;
  display: block;
  }

.black-with{
  position: relative;
  z-index: 10;
  top: -100px;
  left: 119px;
}

.service-slide{
  display: flex;
  padding-left: 230px;
  margin-top: -65px;
}

.service-slide__title{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}

.opportunities-delivery-text{
  width: 495px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: #000000;
}

.people{
  position: relative;
  top: 40px;
  left: 130px;
}

/* Партнеры */

.index-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1160px;
  margin-left: 140px;
  margin-top: 40px;
}

.image-partners-logo-one,
.image-partners-logo-two,
.image-partners-logo-three,
.image-partners-logo-four {
  width: 260px;
  height: 100px;
  margin-right: 40px;
}

.image-partners-logo-one {
  background-image: url("../img/logo-1.jpg");
}

.image-partners-logo-two {
  background-image: url("../img/logo-2.jpg");
}

.image-partners-logo-three {
  background-image: url("../img/logo-3.jpg");
}

.image-partners-logo-four {
  margin-right: 0;

  background-image: url("../img/logo-4.jpg");
}


.image-partners-logo-one:hover {
  background-image: url("../img/logo1-color.jpg");
}

.image-partners-logo-two:hover {
  background-image: url("../img/logo2-color.jpg");
}

.image-partners-logo-three:hover {
  background-image: url("../img/logo3-color.jpg");
}

.image-partners-logo-four:hover {
  background-image: url("../img/logo4-color.jpg")
}

/* О нас */
.all{
padding-top: 10px;
}

.black-smal--one{
  width: 80px;
  height: 7px;
  background: #000000;
  margin-top: -20px;
  padding-left: 1px;
}

.about{
  display: flex;
  flex-direction: row;
  width: 1160px;
  margin: 0 auto;
  margin-left: 140px;
  margin-top: 115px;
  height: 650px;
}

.about__one{
  width: 460px;
}

.about__title{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}

.about__text{
  width: 420px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #000000;
}

.about__text--two{
  width: 473px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #000000;
  margin-top: 40px;
}

/* список */

.delivery-list {
  position: relative;

  margin: 0;
  padding: 0;
  margin-left: 35px;
  margin-top: 55px;

  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: black;
  list-style: none;
}

 .delivery-list li:nth-child(1)::before {
  position: absolute;
  top: 17px;
  left: -33px;
  content: "";
  width: 8px;
  height: 8px;

  border-radius: 50%;
  border: 2px solid #E6E6E6;
}

.delivery-list li:nth-child(2)::before {
  position: absolute;
  top: 58px;
  left: -33px;
  content: "";
  width: 8px;
  height: 8px;

  border-radius: 50%;
  border: 2px solid #E6E6E6;
}

.delivery-list li:nth-child(3)::before {
  position: absolute;
  top: 96px;
  left: -33px;
  content: "";
  width: 8px;
  height: 8px;

  border-radius: 50%;
  border: 2px solid #E6E6E6;
}

/* Подробнее о нас кнопка */
.button.button-about {
  display: inline-block;
  margin-top: 70px;
  padding: 8px;
  width: 260px;
  line-height: 24px;

  background-image: linear-gradient(#ffffff 15px,#f0c52e 15px,#f0c52e 24px,#ffffff 24px);
}

.button.button-about:hover,
.button.button-about:focus,
.button.button-contacts:hover,
.button.button-contacts:focus {
  background-image: linear-gradient(#f0c52e,#f0c52e);
}

.button.button-about:active,
.button.button-contacts:active {
  background-image: linear-gradient(#f0c52e,#f0c52e);
  color: rgba(0, 0, 0, 0.3);
}

/* Контакты */

.black-small--two{
  width: 80px;
  height: 7px;
  background: #000000;
  margin-top: -20px;
  padding-left: 1px;
}
.about__two{
  padding-left: 140px;
}

.contacts__title{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: #000000;
}

.contacts__text{
  width: 510px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  color: #000000;
}

.contacts__map{
  position: relative;
  top: 25px;
}


/* Напишите нам */
.button.contacts__button{
  display: inline-block;
  margin-top: 100px;
  padding: 8px;
  width: 260px;
  line-height: 24px;

  background-image: linear-gradient(#ffffff 15px,#f0c52e 15px,#f0c52e 24px,#ffffff 24px);
}

.button.contacts__button:hover,
.button.contacts__buttont:focus,
.button.contacts__button:hover,
.button.contacts__button:focus {
  background-image: linear-gradient(#f0c52e,#f0c52e);
}

.button.contacts__button:active,
.button.contacts__button:active {
  background-image: linear-gradient(#f0c52e,#f0c52e);
  color: rgba(0, 0, 0, 0.3);
}


/* footer */
.main-footer{
  width: 1440px;
  height: 324px;
  background-color: #363636;
}

.footer-logo{
  display: flex;
  flex-direction: row;
  padding-left: 140px;
  padding-top: 64px;
}

/* Перввая строчка */
.footer-links__navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 674px;
  width: 327px;
  margin: 0;
  margin-top: -17px;
  list-style: none;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-links__enter--icon{
  padding-right: 11px;
}

.footer-links__compare--icon{
  padding-right: 11px;
}

.footer-links__basket--icon{
  padding-right: 10px;
}

/* Вторая строчка */
.footer-middle{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1165px;
  padding-left: 140px;
  padding-top: 20px;
}

.footer-middle__contacts{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: #FFFFFF;
  width: 212px;
}

.footer-middle__navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 430px;
  list-style: none;
  padding-left: 155px;
}

.footer-middle__item{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.footer-contacts {
  margin: 0 auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  padding-left: 190px;
  padding-top: 15px;
  color: #FFFFFF;
}

/* соц сети */
.footer-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1165px;
  padding-left: 140px;
  padding-top: 25px;
}

.footer-bottom-item{
  opacity: 0.3;
}

.footer-bottom-item:hover{
  opacity: 0.6;
}

.footer-bottom-item:active{
  opacity: 0.1;
}

.footer-bottom__width{
  width: 80px;
  height: 7px;
  background:  #FFC600;
  margin-top: 35px;
}

.footer-bottom__social{
  margin-left: -60px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
    list-style: none;
    padding-left: 0;
}

.footer-bottom__academy{
margin-top: 25px;
}

/* аквтив футер */


.inner-footer{
	display: block;
  position: relative;
}

.inner-footer:hover {
  color: #FFFFFF;
	opacity: 0.7;
}

.inner-footer:active {
  color: #FFFFFF;
	opacity: 0.3;
}

.footer-logo__logo  {
  display: block;
	position: relative;
}


.inner-footer-logo {
	display: block;
  position: relative;
  color: #FFFFFF;
  opacity: 0.7;
}

.inner-footer-logo:hover {
  color: #FFFFFF;
	opacity: 1;
}

.inner-footer-logo:active {
  color: #FFFFFF;
	opacity: 0.3;
}


/* СТРАНИЦА КАТАЛОГА */
.main-header--two{
  width: 1160px;
  height: 186px;
  background: #F7E296;
  margin-left: 140px;
  margin-top: 40px;
}

.main-nav__list--two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  list-style: none;

  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #000000;
}

.main-nav__exsit a {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav__exsit{
  margin-left: -20px;
}

.main-nav__compare-two{
  padding-left: 20px;
}

/* страница */
.page-main__title{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  color: #000000;
}

.page-main__container{
  padding-left: 200px;
}

.page-main__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-main__list a{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}

.page-main__list a:hover,
.page-main__list a:focus{
  color: #000000;
  opacity: 0.6;
}

.page-main__list a:active{
  color: #000000;
  opacity: 0.1;
}

.page-main__selfi{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  opacity: 0.3;
}

.page-main__arrow-one{
  margin-left: 16px;
}

.page-main__arrow-two{
  margin-left: 20px;
}

/*  */

.container{
  margin-top: -20px;
}

.filter{
  background-color: #DCDCDC;
  width: 468px;
  height: 70px;
}
.filter__title{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;

  display: block;
  padding-top: 25px;
  padding-left: 200px;
}

.filter-form{
  width: 200px;
}

.blocks{
  display: flex;
  flex-direction: row;
}

.price__title{
  display: block;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;

  border-top: 2px solid #000;
  width: 100%;
  padding-top: 14px;
}

.range-toggle{
  position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
clip: rect(0 0 0 0);
overflow: hidden;
}


 /* Multirange */
 .price{
   background-color: #E5E5E5;
   width: 468px;
   height: 1214px;
 }

.price__block{
  margin-top: 70px;
  margin-left: 200px;
}

 .price__multirange {
	position: relative;

	width: 100%;
	min-height: 39px;
  margin-bottom: 47px;
  margin-top: 30px;
}

.price__multirange::before {
	content: "";

	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	width: 200px;
	height: 2px;

	background-color: #dbdbdb;
}

.price__multirange::after {
	content: "";

	display: block;
	position: absolute;
	top: 15px;
	left: 15px;
	width: 93px;
	height: 2px;

	background-color: #91c92f;
}


.filter-range-marker {
	position: absolute;
	top: 6px;
	left: -5px;
	width: 4px;
	height: 4px;
	margin: 0;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 0 0 #dadada;
	        box-shadow: 0 2px 0 0 #dadada;

	/* z-index: 5;
	cursor: pointer; */
}

.filter-range-marker {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

          font-family: Gilroy;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 16px;

          color: #000000;
}

.filter-range-marker span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  margin-top: 13px;
}

.filter-range-marker input {
	width: 35px;
  margin-left: 5px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
	background-color: transparent;
	border: none;
}

.min-value-marker span {
	margin-left: 42px;
}

.max-value-marker {
	left: 107px;
}

/* Цвета */

.colors__fieldset{
  border: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

.colors__title{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;


  border-top: 2px solid #000;
  width: 100%;
  padding-top: 14px;
}

.colors__item{
  list-style: none;
  padding: 0;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

.colors-label{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

/* colors focus */

/* checkbox */

input[type="checkbox"]{
  display: none;
}

.colors__filter label{
  padding-left: 42px;
}

.colors__filter label::before{
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: -42px;
  margin-right: 18px;
  vertical-align: middle;
  background-image: url("../img/checkbox-off.svg");
}

input[type="checkbox"]:checked + label::before{
  background-image: url("../img/checkbox-on.svg");
}

/* checkbox focus hover */

.input-checkbox:hover:checked + label::before {
	opacity: 0.6;
}

.input-checkbox:hover + label::before {
	opacity: 0.6;
}

.input-checkbox:focus:active + label::before {
	opacity: 0;
}

.input-checkbox:active + label::before {
	opacity: 0;
}

/* bluetooth */
.bluetooth{
  border: none;
  margin: 0;
  padding: 0;
  width: 200px;
  margin-top: 20px;
}

.bluetooth__tittle{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  color: #000000;


  border-top: 2px solid #000;
  width: 100%;
  padding-top: 14px;
}

.bluetooth__item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65px;
  list-style: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  margin: 0;
  margin-top: 30px;
}


input[type="radio"]{
  display: none;
}


/* .bluetooth__list label{
  padding-left: 42px;
} */

.bluetooth__list label::before{
  content: ' ';
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: -42px;
  margin-right: 16px;
  vertical-align: middle;
  background-image: url("../img/radio-off.svg");
}

input[type="radio"]:checked + label::before{
  background-image: url("../img/radio-on.svg");
}

/* bluethooh focus hover */

.input-radio:hover:checked + label::before {
	opacity: 0.6;
}

.input-radio:hover + label::before {
	opacity: 0.6;
}

.input-radio:focus:active + label::before {
	opacity: 0;
}

.input-radio:active + label::before {
	opacity: 0;
}

/* Кнопка Показать */

.text-list__button{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.button.text-button {
  width: 180px;
  padding: 8px;
  line-height: 24px;
  background-image: linear-gradient(#E5E5E5 15px,#f0c52e 15px,#f0c52e 24px,#E5E5E5 24px);
}

.button {
  font-family: "Gilroy-ExtraBold","Arial",sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
}

.button.text-button:hover,
.button.text-button:focus {
  background-image: linear-gradient(#f0c52e,#f0c52e);
}

.button.text-button:active {
  background-image: linear-gradient(#f0c52e,#f0c52e);
  color: rgba(0, 0, 0, 0.3);
}

/* catalog */

.catalog__container{
  display: flex;
  flex-direction: row;
  width: 972px;
  height: 70px;
  background-color: #E5E5E5;
  margin-top: -20px;
}

.catalog__title{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  padding-left: 72px;
  padding-top: 25px;
}

.catalog__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  list-style: none;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  text-align: center;
  margin: 0;
  padding-top: 25px;
  padding-left: 70px;
}

.catalog-item{
  color: #000000;
  opacity: 0.3;
}

.catalog-item:hover,
.catalog-item:focus,
.catalog-item-current:hover,
.catalog-item-current:focus{
  color: #000000;
  opacity: 0.6;
}

.catalog-item:active{
  opacity: 1;
}

.catalog-item-current:active{
  opacity: 1;
}

/* стрелочки */
.up-down__list {
  display: flex;
    justify-content: space-between;
    width: 42px;
    list-style: none;
    padding-left: 215px;
    padding-top: 15px;
}

.button-up,
.button-down {
  display: block;
  width: 11px;
  height: 10px;

  background-repeat: no-repeat;
  outline: none;
  border: none;
  cursor: pointer;
}

.button-up {
  background-image: url("../img/up-icon.svg");
  opacity: 0.2;
}

.button-down {
  background-image: url("../img/down-icon.svg");
}

.button-up:hover,
.button-up:focus,
.button-down:hover,
.button-down:focus{
  opacity: 0.4;
}

.button-up:active,
.button-down:active {
  opacity: 1;
}

/* картинки */
.image__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 760px;
  align-content: stretch;
  align-items: 0 center;
  list-style: none;
}

.image__description{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 360px;
  padding-top: 30px;
  padding-bottom: 45px;
}

.image__title{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0;

}

.image__catalog{
  width: 972px;
  height: 1214px;
  width: 972px;
    padding-left: 30px;
    padding-top: 50px;
    height: 1000px;
}

.image__price{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  color: #000000;
  padding-top: 3px;
}

.catalog{
  left: 468px;
  position: absolute;
  top: 361px;
}


.two-blocks{
  display: flex;
  flex-direction: row;
  width: 1470px;
}

.image-blocks{
  display: flex;
  flex-direction: column;
}

.new {
  position: absolute;
  top: 1098px;
  left: 1211px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;


font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 12px;
line-height: 15px;

text-transform: uppercase;

color: rgba(0, 0, 0, 0.3);

  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background: transparent;
}

/* вперед наза страница */
.page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-button,
.page-container__item,
.page-container a  {
  font-family: "Gilroy-ExtraBold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;

  outline: none;
  cursor: pointer;
  list-style: none;
}

.page-container__list {
  display: flex;
  justify-content: space-around;
  margin:0;
  padding-left: 175px;
  margin-left: 5px;
  min-width: 120px;

  list-style: none;
}


.page-button.forward,
.page-button.back {
  width: 136px;
  height: 25px;
  padding: 22px 0;

  color: black;
}

.page-button.back {
  padding-right: 7px;
}

.page-button.forward {
  padding-left: 7px;
  margin-left: 180px;
}

.page-button.back:hover,
.page-button.back:focus,
.page-button.forward:hover,
.page-button.forward:focus {
background-color: #d9d9d9;
}

.page-button.back:active,
.page-button.forward:active {
  background-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.3);
}


.column {
  display: flex;
  width: 759px;
  height: 70px;
  margin-left: 70px;
  margin-bottom: 77px;
  margin-top: 15px;
  background-color: #ebebeb;
}

.page-two, .page-three {
  color: #000000;
opacity: 0.3;
}

.page-current:hover,
.page-two:hover,
.page-three:hover {
  color: #000000;
opacity: 0.6;
}

.page-current:active{
  color: #000000;
}


/* footer 2 */
.footer-links__navigation-two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 480px;
  list-style: none;
  padding-left: 515px;
  margin-top: -20px;

font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-links__output{
  margin-left: -10px;
}

