@font-face {
    font-family: 'Gilroy';
    src:
      url("../fonts/gilroylight.woff2") format("woff2"),
      url("../fonts/gilroylight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gilroy';
    src:
      url("../fonts/gilroyextrabold.woff2") format("woff2"),
      url("../fonts/gilroyextrabold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
  }

body {
    margin: 0;
    margin-top: -23px;
    font-family: "Gilroy","OpenSans";
    font-size: 14px;
    line-height: 24px;
    font-weight: 800;
    color: #000000;
    background-color: #F2F2F2;
  }

  button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }
/*сброшены стили кнопки*/


  .visually-hidden{
      visibility: hidden;
  } 
  /*спрятан весь скрытый текст*/

  .black-with:before{
      content: '';
      background-color: #000000;
      height: 319px;
      width: 7px;
      display: block;
      }

    .black-with{
      position: relative;
      z-index: 10;
      top: -68px;
      
    }
  
  a {
    text-decoration: none;
    color: #000000;
  }  /*отменим у ссылок подчеркивание */

  .main-navigation{
    width: 1160px;
    height: 299px;
    background: #F0C52E;
  }

  .main-navigation-two{
    width: 1160px;
    height: 170px;
    background: #F0C52E;
  }
  .logo a {
    margin-top: -20px;
  }
  
  .search-icon{
  padding-right: 15px;
  }

  .user-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 1035px;
    padding-top: 5.5px;
    padding-left: 63px;
    padding-right: 59px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    color: #000000;
  }

  .site-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1045px;
    
    padding-left: 59px;
    padding-top: 20px;
   

    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 3.5px;
  }

  .user-navigation,
  .site-navigation {
  list-style: none;
}  /* Отменим точки у списка*/

.site-navigation a,
.user-navigation a {
  color: #000000;
} /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
Зададим эти состояния ссылкам в навигации.
*/

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  background-color:  #F2F2F2;
} /*интерактивные элементы страницы. */

.slider{
width: 384px;
height: 486px;
left: 230px;
margin-top: 10px;
}

.number {
  
  padding-left: 458px;
  padding-top:20px;
}

.white-width{
position: absolute;
width: 100px;
height: 7px;
left: 740px;
top: 265px;
background: #EEEEEE;
}

.advertising{
  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 56px;
  padding-left: 125px;
  letter-spacing: 0.47px;

  margin-top: -62px;
  }

  .advertising-item{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  padding-left: 125px;
  letter-spacing: 0.15px;
  margin-top: -21px;
  }

  .button-slider {
  display: flex;
  justify-content: space-between;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 125px;
  letter-spacing: 3.5px;
  text-align: center;
  margin-top: 50px;
  margin-left: -45px;
  }

  .slider-button {
    position: relative;
    z-index: 10;
    display: block;
    width: 170px; 
  }
  
  .slider-button:before {
    content: '';
    background-color: #F0C52E;
    height: 8px;
    width: 220px;
   top: 8px;
    display: block;
    position: absolute;
    z-index: -1;
  }

  ul li{
    list-style: none;
  }

  ul{
    padding: 0;
  }

  .slider-text{
    display: block;
    width: 220px;
  }

  .slider-button:hover .slider-text{
    background: #F0C52E;
  }

  .slider-button:hover:before,
  .slider-button:focus:before{
background-color: transparent;
  }

  .slider-button:focus{
    background: #000000;
    color: #F0C52E;
  }

  .slider-button:focus .slider-text{
    background: transparent;
  }


.slider-icon{
padding-right: 22px;
padding-top: 12px;
}


  .button-slider a {
    color: #000000;
    width: 220px;
    margin-left: 43px;
    
  } /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
  Зададим эти состояния ссылкам в навигации.
  */


.button-slider a:focus{
  background-color:  black;
  color: #F7E184;
  text-align: center;
} /*интерактивные элементы страницы. */ 

 .parameters{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 452px;
   padding-left: 125px;
   margin-top: 55px;
 }

  .parameters-description{ 
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  display: flex;

  align-items: center;
  letter-spacing: 0.36px;
  color: #000000;

  padding-right: 23px;
 }

  .parameters-size{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  padding-top: 8px;
  display: flex;
  align-items: center;
  letter-spacing: 0.13px;
  color: #464646;
  }

  .parameters,
  .list,
  .name-points{
  list-style: none;
  }  /* Отменим точки у списка*/

  .category {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px; 
  font-family: Gilroy;
  color: #000000;

  margin-top: 80px;
  }

  .virtual-reality{
  padding-left: 31px;
  padding-top: 52px;

  }

  .monopods{
  padding-left: 39px;
  padding-top: 42px;
    
  }

  .action{
  padding-left: 50px;
  padding-top: 39px;
      
  }

  .fitness{
  padding-left: 29px;
  padding-top: 49.69px;
        
  }

  .clock {
  padding-left: 56px;
  padding-top: 33px;
  }

  .quadcopters{
  padding-left: 13px;
  padding-top: 50px;
  }


  .list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  width: 1160px;
  padding-left: 140px;
  } 

  .list-one{
  width: auto;
  min-height: 237px;
  margin-bottom: 61px;
  }


  .page-one, .page-two{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 764.52px;
   
  }



  .item-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    width: 361px; 
    margin-top: 25px;
    align-items: end;
  }

  .item-two{
   width: 203px;
  }

  .item-three{
    width: 255px;
   }

  .new {
    position: absolute;
    top: 1500px;
    left: 1150px;
  }


  .category a {
  color: #000000;;
} /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
Зададим эти состояния ссылкам в навигации.
*/

.category-background {
background: #F0C52E;
width: 160px;
height: 160px;

}

.category-text{
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;

display: flex;

align-items: center;
letter-spacing: 0.18px;
color: #000000;

margin-top: 35px;

}

.opportunities{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 1096.35px;

background: #E5E5E5;
width: 1445px;
min-height: 288px;
margin-top: 38px;
}

.opportunities-one {
margin-top: -32.22px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.opportunities-delivery{
margin-top: -32.22px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-left: 116px;

}

.opportunities-delivery-text{
  margin-top: -10px;
  letter-spacing: 0.15px;
}


.people{
margin-top: 48px;
margin-left: 140px;
left: 1111.81px;
top: 1280px;

}

.options{
display: flex;
flex-direction: column;
width: 277px;
padding-left:  140px;


font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
list-style: none;
color: black;
letter-spacing: 3.5px;
text-align: center;
}

.options a {
color: #000000;
width: 278px;
height: 40px;


  } /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
  Зададим эти состояния ссылкам в навигации.
  */

  .delivery{
    position: relative;
  z-index: 10;
  display: block;
  width: 160px;
  }

  .delivery:before{
    content: '';
    background-color: #F0C52E;
    height: 8px;
    width: 160px;
    top: 8px;
    display: block;
    position: absolute;
    z-index: -1;
  }


  .delivery:hover .opportunities-button-delivery {
    background: #F0C52E;
  }
  
  .delivery:hover:before,
  .delivery:focus:before {
    background-color: transparent;

  }
  
  .delivery:focus {
    background: #000000;
    color: #F0C52E;
  }
  
  .delivery:focus .opportunities-button-delivery{
    background: transparent;
  }
  
  .opportunities-button-delivery{
    display: block;
    width: 160px;
  }
  

.guarantee{
  position: relative;
z-index: 10;
display: block;
width: 160px;
}

.guarantee:before{
  content: '';
  background-color: #F0C52E;
  height: 8px;
  width: 160px;
  top: 8px;
  display: block;
  position: absolute;
  z-index: -1;
}


.guarantee:hover .opportunities-button-guarantee {
  background: #F0C52E;
}

.guarantee:hover:before,
.guarantee:focus:before {
  background-color: transparent;

}

.guarantee:focus {
  background: #000000;
  color: #F0C52E;
}

.guarantee:focus .opportunities-button-guarantee{
  background: transparent;
}

.opportunities-button-guarantee{
  display: block;
  width: 160px;
}


.credit{
  position: relative;
z-index: 10;
display: block;
width: 160px;
}

.credit:before{
  content: '';
  background-color: #F0C52E;
  height: 8px;
  width: 160px;
  top: 8px;
  display: block;
  position: absolute;
  z-index: -1;
}


.credit:hover .opportunities-button-credit {
  background: #F0C52E;
}

.credit:hover:before,
.credit:focus:before {
  background-color: transparent;

}

.credit:focus {
  background: #000000;
  color: #F0C52E;
}

.credit:focus .opportunities-button-credit{
  background: transparent;
}

.opportunities-button-credit{
  display: block;
  width: 160px;
}



.one-guarantee{
  padding-top: 23px;
}

.one-credit{
  padding-top: 25px;
}

.one-delivery{
  padding-top: 2px;
}

h2 {
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 47px;
line-height: 48px;
color: #000000;
letter-spacing: 0.208444px;
}

p {
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 30px;
color: #464646;
}

.partners{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 1157px;
min-height: 100px;
padding-left: 140px;
margin-top: -30px;

list-style: none;
}  /* Отменим точки у списка*/

.ways-send{
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 40px;
color: #000000;
padding-top: 55px;
padding-bottom: 55px;
padding-left: 0;
list-style: none;

padding-top: 50px;
padding-left: 7px;
}

.oval{
padding-right: 18px;
}

  
  
  .button-slider-one {
    display: flex;
    justify-content: space-between;
  
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
    padding-left: 125px;
    letter-spacing: 3.5px;
    text-align: center;
     margin-top: -8px;
     margin-left: -125px;
    }
  
  
    .button-slider-button{
      position: relative;
      z-index: 10;
      display: block;
      width: 270px; 
    }
    
    .button-slider-button:before {
      content: '';
      background-color: #F0C52E;
      height: 8px;
      width: 270px;
     top: 8px;
      display: block;
      position: absolute;
      z-index: -1;
    }
  
    .slider-button-text{
      display: block;
      width: 270px;
    }
  
    .button-slider-button:hover .slider-button-text{
      background: #F0C52E;
    }
  
    .button-slider-button:hover:before,
    .button-slider-button:focus:before{
  background-color: transparent;
    }
  
    .button-slider-button:focus{
      background: #000000;
      color: #F0C52E;
    }
  
    .slider-button:focus .slider-button-text{
      background: transparent;
    }
  
  
  .slider-icon{
  padding-right: 22px;
  padding-top: 12px;
  }
  
  
    .button-slider a {
      color: #000000;
      width: 220px;
      margin-left: 43px;
      
    } /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
    Зададим эти состояния ссылкам в навигации.
    */
  
  
  .button-slider a:focus{
    background-color:  black;
    color: #F7E184;
    text-align: center;
  } /*интерактивные элементы страницы. */ 
  
  
 
.ways-send a{

color: #000000;
  } /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
  Зададим эти состояния ссылкам в навигации.
  */


.main-footer {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 1445px;
height: 323px;
padding-left: 139px;
padding-right: 111px;
list-style: none;
background: #464646;
margin-top: 15px;

  }



.main-footer a{
color: #000000;
} /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
Зададим эти состояния ссылкам в навигации.*/

.footer-contacts{
width: 231px;
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 30px;
color: #FFFFFF;
margin-top: -3px;

}

.footer-contacts-two{
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #FFFFFF;
 margin-top: 15px;

  
  }

.main-footer-one{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 1190px;
padding-top: 60px;
  
}

.main-footer-one-two{
  display: flex;
flex-direction: row;
justify-content: space-between;
width: 1190px;
padding-top: 60px;
}


.main-footer-two{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 1161px;

}

.main-footer-three{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 1190px;
  
}

.footer-user-navigation{
display: flex;
flex-direction: row;
justify-content: space-between;
  
width: 1190px;
padding-left: 671px;

font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 36px;
color: #FFFFFF;
}

.footer-user-navigation-two{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    
  width: 500px;
 margin-top: -3px;
  
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #FFFFFF;
letter-spacing: 0.15px;
  }

  .icon-footer-user{
padding-right: 10px;
  }




.html-academy{
padding-left: 130px;
margin-top: 20px;
}


.three{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 354px;
padding-right: 140px;
}

.footer-site-navigation{
display: flex;
flex-direction: row;
justify-content: space-between;
width: 425px;
margin-top: 20px;
margin-left: -65px;
letter-spacing: 3.6px;


font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
color: #FFFFFF;
}

.footer-site-navigation,
.footer-user-navigation,
.footer-user-navigation-two {
list-style: none;
}  /* Отменим точки у списка*/

.footer-site-navigation a,
.footer-user-navigation a,
.footer-user-navigation-two a {
color: white;
} /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
Зададим эти состояния ссылкам в навигации.
*/

.footer-site-navigation a:hover,
.footer-site-navigation a:focus,
.footer-user-navigation a:hover,
.footer-user-navigation a:focus {
background-color:  black;
} /*интерактивные элементы страницы. */

.footer-site-navigation-two a:hover,
.footer-site-navigation-two a:focus,
.footer-user-navigation-two a:hover,
.footer-user-navigation-two a:focus {
background-color:  black;
} /*интерактивные элементы страницы. */

.social {
display: flex;
flex-direction: row;
justify-content: space-between;
width: 141px;
padding-left: 180px;
padding-bottom: 67px;

list-style: none;
}  /* Отменим точки у списка*/

.social a:focus {
background-color:  black;
color: #F7E184;
} /*интерактивные элементы страницы. */

.social-width {
  width: 80px;
height: 7px;
background:  #FFC600;
margin-top: 20px;
}

.user-name-email{
display: flex;
flex-direction: row;
justify-content: space-between; 
width: 760px;
}

.user-text {
display: flex;
flex-direction: column;
justify-content: space-between; 
width: 760px;
}

.record {
padding-left: 240px;
height: 553px;
}

.record-all{
padding-left: 100px;  
width: 870px;
height: 553px;
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(4, 6, 6, 0.2);

}

.record-one{
display: flex;
flex-direction: column;
justify-content: space-between; 
width: 760px;
}


.help-record {
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
color: #464646;
background-color: #F2F2F2;

}

.record-two{
display: flex;
flex-direction: column;
justify-content: space-between; 
}

.record-three{
display: flex;
flex-direction: column;
justify-content: space-between; 
margin-left: 20px;
 

}

.record-record {
width: 360px;
height: 50px;
margin-right: 39px; 
}

.info-record-four{
width: 760px;
height: 156px;
}
.info-record{
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
color: #000000;

}

.help-record::placeholder {
  color: #adadad;
}

.button-record {
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
text-transform: uppercase;
color: #000000;
width: 200px;
   
    }
    


                       /* ВТОРАЯ ТСРАНИЦА */

.catalog-menu {
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 15px;
line-height: 36px;
color: #000000;
letter-spacing: 0.15px;
background:#F0C52E;
height: 148px;
margin-top: -20px;
padding-left: 40px;
}

.catalog-menu-text{
  display: flex;
flex-direction: row;
justify-content: space-between;
  width: 550px;
  margin-top: -40px;
  margin-left: 20px;
}
 .enter {
padding-left: 353px; 
margin-top: -5px;
}

.enter-icon{
  padding-right: 10px;
}

.compare{
  margin-top: -5px;
padding-right: 40px;

}



.compare-icon{
padding-right: 8px;
}

.basket{
  margin-top: -5px;
}

.basket-icon{
padding-right: 8px;
}

.clear {
padding-left: 36px;
}

.catalog-goods-two{
padding-right: 85px;
}

.catalog-one {
display: flex;
flex-direction: column;
justify-content: space-between;
}
.catalog-goods-img{
padding-left: 7px;
}

.catalog-two{
display: flex;
flex-direction: column;
margin-left: -20px;


}

.catalog-three{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 padding-top: 30px;

 
}

.menu-points,
.choice, .choice-two {
list-style: none; 
}/* Отменим точки у списка*/

.catalog-menu a {
color: #000000;
} /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
Зададим эти состояния ссылкам в навигации.
*/

.catalog-menu  a:hover,
.catalog-menu  a:focus {
  background-color:  #F2F2F2;
} /*интерактивные элементы страницы. */

h1{
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 47px;
line-height: 48px;
color: #000000;
}

.monopods-name{
  padding-left: 200px;
  padding-top: 5px;
  letter-spacing: 0.91px;
}

.choice-conteiner{
  width: 100%;
  margin-top: -110px;

}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #EEEEEE;
  height: 70px;
}

.choice{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 385px;
  padding-left: 200px;
  
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #000000;
mix-blend-mode: normal;

margin-top: -10px;
}

.arrow{
  padding-left: 15px;
}

.choice-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
 width: 100%;
 margin-top: 22px;

    
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #000000;
mix-blend-mode: normal;

}




.zero-part{
  display: flex;
flex-direction: row;
justify-content: space-between; 
  padding-top: 33px;
  padding-left: 15px;
}

.part{
display: flex;
flex-direction: row;
justify-content: space-between; 
background: #EEEEEE;
width: 468px;

}

.part-one{
display: flex;
flex-direction: column;
justify-content: space-between; 
height: 619px;
list-style: none; 
border: none;

}

.colors {
display: flex;
flex-direction: column;
justify-content: space-between; 
border: none;

}

.name{
  display: flex;
  justify-content: space-between;
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 24px;
color: #000000;
text-transform: uppercase;
letter-spacing: 3.5px;
margin-left: -30px;
margin-top: 22px;
z-index: 1;



}

.three-name{
  display: flex;
  justify-content: space-between;
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 24px;
color: #000000;
text-transform: uppercase;
letter-spacing: 3.5px;
padding-left: 70px;
margin-top: 22px;
z-index: 1; 
}

.grey{
  background: #DBDBDB;
  height: 70px;
  content: '';
    width: 470px;
   top: 405px;
   left: -2px;
    display: block;
    position: absolute;
   
}

.one-name{
  list-style: none; 
  padding-top: 90px;
}

.name-two{
font-family: Gilroy;
font-style: normal;
letter-spacing: 0.18px;
font-weight: 800;
font-size: 18px;
line-height: 24px;
color: #000000;
margin-left: -26px;
top: 15px;
border-top: 2px solid #000000;
width: 100%;
padding-top: 7px;
}

.range-controls, .scale {
  height: 2px;
  background: #DBDBDB;
  width: 196px;
}

.range-controls .bar {
  width: 110px;
  height: 2px;

  background: #91C92F;
}


.range-toggle {
position: absolute;
margin-top: -9px;

  
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 20px;
}


.bluetooth-border{
  border: none;
}

.name-points{
padding: 0;
}

.checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 20px;
}

.checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
.checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 50px;
	height: 26px;
	border-radius: 13px;
	background: #000000;
	box-shadow: inset 0 2px 3px rgba(0,0,0,.2);
	transition: .2s;
}



.name-two-one, .name-two-two{
  display: flex;
  flex-direction: row;


}

.name-two-text{
font-family: Gilroy;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 24px;
color: #000000;
mix-blend-mode: normal;
opacity: 0.2;
}

.name-color{
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 39px;
letter-spacing: 0.14px;
color: #000000;

}

.yes-no{
font-family: Open Sans;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 40px;
display: flex;
align-items: center;
letter-spacing: 0.14px;
color: #000000;
}

/*.yes-no-radio + label::before {
  content: "";

  position: absolute;
  left: -42px;
  top: -1px;

  width: 16px;
  height: 16px;
  
  border: 2px solid #000000;
  border-radius: 50%;
}
.yes-no-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -36px;

  width: 8px;
  height: 8px;

  background-color: #000000;
  border-radius: 50%;
}
*/

h3{
font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 24px;
color: #000000;
}



.list a {
color: #000000;
} /*По умолчанию ссылки имеют отдельный цвет, который выделяет их на странице.  псевдоклассы. :hover для наведения, :focus для фокусировки.
    Зададим эти состояния ссылкам в навигации.
    */ 

.price {
display: flex;

font-family: Gilroy;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.16px;

color: #464646;
    }

.back-forward {

font-family: Gilroy;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 24px;
letter-spacing: 3.5px;
text-transform: uppercase;
color: #000000;
}

.page-page, .page, .name-two {
list-style: none; 
}/* Отменим точки у списка*/

.center {
  display: flex;
  position: relative;
}

.page-page {
  position: relative;
  margin-top: -75px;
  margin-left: 35px;
}


.pages {
height: 70px;
margin-left: 59px;
width: 760px;
background: #EBEBEB;
}


.page-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 width: 111px;
} 


.pages-ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
width: 700px;
 
}


                  /* СЕТОЧНЫЕ СТИЛИ */

 main {
  display: flex; 
  flex-wrap: wrap;

 }

 .main-header{
display: flex;
flex-direction: column;
justify-content: space-between;
padding-left: 140px;
padding-right: 140px;
padding-top: 40px;
width: 1160px;
height: auto;

 }



 .logo{
display: flex;
padding-left: 59.5px;
  
 }

.user-navigation li:nth-of-type(2) {
flex-grow: 1;
width: 99px;
 
 }

.user-user{
padding-left: 364px;

 }


 .exit {
width: 74px;
color: #000000;
mix-blend-mode: normal;
opacity: 0.3;
 }

 .site-navigation li:nth-of-type(2) {
width: 160px;}

.site-navigation li:nth-of-type(3) {
width: 139px;}



.container{
display: flex;
flex-direction: column;
justify-content: space-between;
width: 1022px;  
 }

.features-list{
display: flex;
flex-direction: row;
margin-left: -120px;
margin-top: -123px;

 }


.container-three{
display: flex;
flex-direction: row;
justify-content: space-between;
 width: 1143px;
 padding-left: 139px;
 margin-top: -50px;

}

.black-small{
width: 80px;
height: 7px;
background: #000000;
margin-top: -7px;
padding-left: 1px;
}

.black-small-two{
  width: 80px;
  height: 7px;
  background: #000000;
  margin-top: -15px;
  padding-left: 1px;
  }

  .contacts-block{
    padding-top: 7px;
  }

  .contacts-map{
    margin-left: -40px;
    margin-top: -33px;
  }

.container-three-one{
  margin-left: -192px;
  padding-top: 6px;
  width: 487px;
}


.container-three-text{
padding-top: 5px;
padding-left: 4px;
}

.container-three-text-two{
  padding-top: 15px;
  padding-left: 4px;
}

.contacts {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 542px;
padding-top: 8px;

 }


 .map {
display: flex;
padding-left: 240px;
position: relative
 }

 .close {
  position: absolute;
  padding-top: 40px; 
  padding-left: 870px;  
 }

 .close-two {
  position: absolute;
  margin-top: -60px; 
  padding-left: 800px;   
 }



 .serch-input, .catalog-goods{
  flex-grow:1; /*будет занимать все свободное место */
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

.button-slider-five {
  display: flex;
  justify-content: space-between;

  font-family: Gilroy;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 125px;
  letter-spacing: 3.5px;
  text-align: center;


  }

  .slider-button-five {
    position: relative;
    z-index: 10;
    display: block;
    width: 170px; 
  }
  
  .slider-button-five:before {
    content: '';
    background-color: #F0C52E;
    height: 8px;
    width: 220px;
   top: 8px;
    display: block;
    position: absolute;
    z-index: -1;
  }

  .slider-text-five {
    display: block;
    width: 220px;
  }

  .slider-button-five:hover .slider-text-five {
    background: #F0C52E;
  }

  .slider-button-five:hover:before,
  .slider-button-five:focus:before{
background-color: transparent;
  }

  .slider-button-five:focus{
    background: #000000;
    color: #F0C52E;
  }

  .slider-button-five:focus .slider-text-five {
    background: transparent;
  }
